[submodule "vault"]
	path = vault
	url = git@github.com:/jmn/vault.git
	branch = main
[submodule "hugoroot/themes/PaperMod"]
	path = hugoroot/themes/PaperMod
 	url = git@github.com:/jmn/hugo-PaperMod.git
	branch = main
